body {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2000px;
}


button {
    width: 75px;
    height: 70px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 2px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: hsl(222, 42%, 17%);
    color: white;
    box-shadow: 2px 2px hsl(0, 0%, 0%);
    text-align: center;
    text-shadow: 5px black;
}

button:hover {
    background-color: hsl(222, 40%, 54%);
    color: hsl(0, 3%, 11%);
}

button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px hsl(0, 0%, 0%);
    background-color: hsl(222, 59%, 72%);
}


#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 25px 0 25px 25px;
}

#calculator {
    font-family: 'Times New Roman', Times, serif;
    background-color: hsl(208, 71%, 86%);
    border-radius: 15px;
    max-width: 500px;
    max-height: 775px;
    overflow: hidden;
}

#display {
    padding: 25px;
    text-align: right;
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 17px;
    border-top: solid 3px black;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: solid 3px black;
    border-right: solid 3px black;
    font-size: 28px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
    resize: both;
}

.operator-btn{
    background-color: hsl(222, 40%, 54%);
    color: hsl(0, 3%, 11%);
    font-weight: bolder;
}




.operator-btn:hover{
    background-color: hsl(222, 40%, 74%);
    color: hsl(0, 3%, 11%);
    font-weight: bolder;
}

.bracket-btn{
    background-color: hsl(283, 89%, 22%);
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
}

.bracket-btn:hover{
    background-color: hsl(283, 89%, 42%);
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
}

.assignment-btn{
    background-color: hsl(333, 71%, 40%);
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
}

.assignment-btn:hover{
    background-color: hsl(333, 71%, 60%);
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
}

.clear-btn{
    background-color: hsl(172, 84%, 35%);
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
}

.clear-btn:hover{
    background-color: hsl(172, 84%, 55%);
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
}


.number-btn{
    background-color: hsl(16, 83%, 51%);
    color: hsl(0, 3%, 11%);
    font-weight: bolder;
}


.number-btn:hover{
    background-color: hsl(16, 96%, 60%);
    color: hsl(0, 3%, 11%);
    font-weight: bolder;
}


.decimal-btn{
    background-color: hsl(62, 83%, 62%);
    color: hsl(0, 3%, 11%);
    font-weight: bolder;
    font-size: 40px;
}

.decimal-btn:hover{
    background-color: hsl(62, 83%, 72%);
    color: hsl(0, 3%, 11%);
    font-weight: bolder;
    font-size: 40px;
}

#multiply{
    padding:25px 15px;
}

#dot{
    padding-bottom: 25px;
}

#comma{
    padding-bottom: 25px;
}